[Unit]
Description=SSH Tunnel
After=network.target

[Service]
Restart=always
RestartSec=20
User=ubuntu
ExecStart=/bin/ssh -NT -o ServerAliveInterval=60 -R 3128:localhost:3128 amit@node.plns.in

[Install]
WantedBy=multi-user.target